{include file="common:header" /}
<script type="text/javascript" src="__PUBLIC__static/index/js/servicedetail.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__static/index/css/servicedetail.css">
</head>
<body>
<style>
    #online > div > s {
        background: url("__PUBLIC__static/index/images/kefu.png") center center no-repeat;
        background-color: #666;
    }

    body > iframe {
        opacity: 0;
        display: none;
    }

</style>
<div id="header2">
    <div>
        <div style="margin: 0 auto;width: 1200px;position: relative">您好&nbsp;{$uinfo.username}，欢迎来到云乐互联！
            {notempty name="uinfo"}
            <span onclick="loginout();" style="cursor: pointer;">【退出】</span>
            {/notempty}

            <p>
                <span><a class="link" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$baseinfo.kfqq}&site=qq&menu=yes">联系客服</a></span>
                <span><a>服务热线：</a><i>{$baseinfo.phone}</i></span>
            </p>
        </div>
    </div>

    <form method="get">
        <div>
            <div><img style="padding-bottom:30px;" onclick="gethref(this)" hc-href="{:url('index/index/index')}" alt="公众号出售-公众号价格-公众号买卖-云乐互联公众号交易平台"
                  src="__PUBLIC__static/index/picture/logo.jpg" width="120" height="130">
                <div>
                    <em>
                        <input class="hc-input" hc-title name="title" placeholder="输入您需求的关键词，如“订阅号”">
                        <input type="text" value="搜索" id="dokeyword" class="hc-sub" style="color: #fff;padding-left: 30px;"/>
                    </em>
                    <ul>
                        {volist name="typetop" id="vo"}
                        <li><a style="color:#787878" href="{:url('index/deal/index',['tid'=>$vo.tid])}" class="link">{$vo.name}</a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(".hc-sub").click(function () {
        var _title = $("[hc-title]").val();
        var url="{:url('index/deal/index',['types'=>1,'keywords'=>'keys'])}";
        newurl=url.replace('keys',_title);
        window.location.href = newurl;

    })
    function loginout() {
        layer.load(0, {shade: false});
        $.post("{:url('index/index/loginout')}",{},function (e) {
            layer.msg('已退出');
            setTimeout(function () {
                window.location.reload();
            },1000)
        })
    }
</script>
<style>
    #header2 > div:first-child {
        z-index: 10;
    }

    @keyframes hot {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(0, -3px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    @-webkit-keyframes hot {
        0% {
            -webkit-transform: translate(0, 0);
        }
        50% {
            -webkit-transform: translate(0, -5px);
        }
        100% {
            -webkit-transform: translate(0, 0);
        }
    }

</style>
<div id="header_nav2">
    <div class="mj-hv-total" style="position: relative;height: 70px">
        <ul>
            <li><a mj-hv-sh-none href="{:url('index/index/index')}" class="link">首页</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li><a mj-hv-sh href="{:url('index/deal/index')}" class="link">公众号转让</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li style="position: relative">
                <a mj-hv-sh-none href="{:url('index/sell/index')}" class="link">卖公众号</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li><a mj-hv-sh-none href="{:url('index/deal/index')}">买公众号</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li style="position: relative">
                <a mj-hv-sh-none href="{:url('index/evals/index')}" class="link">帐号估值</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/aboutme/index')}" class="link">关于我们</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/usercenter/index')}" class="link">个人中心</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/addserver/index')}" class="link">增值服务</a>
            </li>
        </ul>

        <!--账号选择条件悬浮框-->
        <div mj-cd id="select_box" class="mj-cd"
             style="display:none;position: absolute;left: 0;top:69px;z-index:10;width: auto;border: 4px solid #1F9EBF;border-top: 0">
            <!--    <div></div>-->
            <ul style="background: #fff">
                <li>
                    <s>公众号类型：</s>
                    <em>
                        <a class="link u" onclick="selectFour(this,type=1)">全部</a>
                        {volist name="haotype" id="vo"}
                        <a onclick="selectFour(this,type=1,'{$vo.htid}')" class="link ">{$vo.name}</a>
                        {/volist}
                    </em>
                </li>
                <li>
                    <s>公众号类目：</s>
                    <em>
                        <a onclick="selectFour(this,type=2)" class="link u">全部</a>
                        {volist name="alltype" id="vo"}
                        <a onclick="selectFour(this,type=2,'{$vo.tid}')" class="link ">{$vo.name}</a>
                        {/volist}

                    </em>
                </li>
                <li>
                    <s>价格区间：</s>
                    <em>
                        <a onclick="selectFour(this,type=3,'')" class="link">全部</a>
                        <a onclick="selectFour(this,type=3,1)" class="link">1万以内</a>
                        <a onclick="selectFour(this,type=3,2)" class="link">1-3万</a>
                        <a onclick="selectFour(this,type=3,3)" class="link">3-5万</a>
                        <a onclick="selectFour(this,type=3,4)" class="link">5-7万</a>
                        <a onclick="selectFour(this,type=3,5)" class="link">7-10万</a>
                        <a onclick="selectFour(this,type=3,6)" class="link">10-20万</a>
                        <a onclick="selectFour(this,type=3,7)" class="link">20万以上</a>
                    </em>

                </li>
                <li>
                    <s>认证类型：</s>
                    <em>
                        <a onclick="selectFour(this,type=4,3)" class="link u">不限</a>
                        <a onclick="selectFour(this,type=4,0)" class="link ">未认证</a>
                        <a onclick="selectFour(this,type=4,1)" class="link ">已认证</a>
                    </em>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function gethref(obj) {
        var is_open = $(obj).attr("is-open");
        var href = $(obj).attr("hc-href");
        // console.log(href);
        if (is_open == 1) {
            window.open(href);
        } else {
            window.location.href = href;
        }
    }

    $("[mj-hv-sh]").mouseover(function () {
        $("[mj-cd]").show();
        console.log($("[mj-cd]").height());
    })
    $("[mj-hv-sh-none],#header2").mouseover(function () {

        $("[mj-cd]").hide();
    })
    $(".mj-cd ul").mouseleave(function (event) {
        $("#header_nav2").hover(function () {
            event.preventDefault();
        })
        $("[mj-cd]").hide();

    })
    function selectFour(object, type, id) {
        var url = "{:url('index/deal/index')}";
        var string = $(object).html();
        console.log('string==' + string);
        var haotype = "";
        var fortype = "";
        var price = "";
        var isrz = "";

        if (type == 1) {
            haotype = id;
            url = url + '?type=' + haotype
        } else if (type == 2) {
            fortype = id;
            url = url + '?fortype=' + fortype
        } else if (type == 3) {
            price = id;
            url = url + '?price=' + price
        } else if (type == 4) {
            isrz = id;
            url = url + '?isrz=' + isrz
        }
        window.location.href = url;
    }
</script>
<!--主体-->
<style>
    .mainbody{
        width: 1200px;
        display: flex;
        margin: 5px auto;
    }
    .m_left{
        width: 600px;
        background-color: white;
        height: 500px;
    }
    .m_right{
        width: 600px;
        background-color: white;
        height: 500px;
    }

</style>
<div id="location">当前位置：<a href="{:url('index/serves/index')}">服务中心</a>  &gt; {$news.title}</div>

    <div id="detail">
        <div>
            <p>{$news.title}</p>
            <s><i>{$news.addtime}</i></s>
        </div>
        <em style="display: initial;">
            <div style="padding: 15px;">
                {$news.contents}
            </div>
        </em>
        <u></u>
    </div>

<script>
</script>
<!--尾部-->
{include file="common:foot" /}
          