{include file="common:header" /}
<script type="text/javascript" src="__PUBLIC__static/index/js/areacheck/js/city.js"></script>
</head>

<body>

<style>
    #online>div>s{
        background: url("__PUBLIC__static/index/images/kefu.png")  center center no-repeat;
        background-color:#666 ;
    }
    body > iframe{
        opacity:0;
        display:none;
    }

</style>

<div id="header2">
    <div>
        <div style="margin: 0 auto;width: 1200px;position: relative">您好&nbsp;{$uinfo.username}，欢迎来到云乐互联！
            {notempty name="uinfo"}
            <span onclick="loginout();" style="cursor: pointer;">【退出】</span>
            {/notempty}

            <p>
                <span><a class="link" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$baseinfo.kfqq}&site=qq&menu=yes">联系客服</a></span>
                <span><a>服务热线：</a><i>{$baseinfo.phone}</i></span>
            </p>
        </div>
    </div>

    <form method="get">
        <div>
            <div><img onclick="gethref(this)" hc-href="{:url('index/index/index')}" alt="公众号出售-公众号价格-公众号买卖-云乐互联公众号交易平台"
                      src="__PUBLIC__static/index/picture/logo.jpg" width="230" height="90">
                <div>
                    <em>
                        <input class="hc-input" hc-title name="title" placeholder="输入您需求的关键词，如“订阅号”">
                        <input type="text" value="搜索" id="dokeyword" class="hc-sub" style="color: #fff;padding-left: 30px;"/>
                    </em>
                    <ul>
                        {volist name="typetop" id="vo"}
                        <li><a style="color:#787878" href="{:url('index/deal/index',['tid'=>$vo.tid])}" class="link">{$vo.name}</a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(".hc-sub").click(function () {
        var _title = $("[hc-title]").val();
        var url="{:url('index/deal/index',['types'=>1,'keywords'=>'keys'])}";
        newurl=url.replace('keys',_title);
        window.location.href = newurl;

    })
    function loginout() {
        layer.load(0, {shade: false});
        $.post("{:url('index/index/loginout')}",{},function (e) {
            layer.msg('已退出');
            setTimeout(function () {
                window.location.reload();
            },1000)
        })
    }
</script>
<style>
    #header2>div:first-child{
        z-index: 10;
    }
    .mh-hot{
        position: absolute;
        width: 24px;
        height: 16px;
        background: url("__PUBLIC__static/index/images/hot_icon.png") center center no-repeat;
        background-size: 100%;
        left: 61px;
        animation: hot 1s infinite linear;
        -webkit-animation: hot 1s infinite linear;
    }
    .mh-new{
        position: absolute;
        width: 24px;
        height: 16px;
        background: url("__PUBLIC__static/index/images/new_icon.png") center center no-repeat;
        background-size: 100%;
        left: 61px;
        animation: hot 1s infinite linear;
        -webkit-animation: hot 1s infinite linear;
    }


    @keyframes hot {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(0, -3px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    @-webkit-keyframes hot {
        0% {
            -webkit-transform: translate(0, 0);
        }
        50% {
            -webkit-transform: translate(0, -5px);
        }
        100% {
            -webkit-transform: translate(0, 0);
        }
    }

</style>
<div id="header_nav2" >
    <div class="mj-hv-total"  style="position: relative;height: 70px">
        <ul>
            <li><a mj-hv-sh-none href="{:url('index/index/index')}" class="link">首页</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li><a mj-hv-sh href="{:url('index/deal/index')}" class="link chooseit">公众号转让</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li style="position: relative">
                <a mj-hv-sh-none href="{:url('index/sell/index')}">卖公众号</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li><a mj-hv-sh-none href="{:url('index/deal/index')}">买公众号</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li style="position: relative">
                <a mj-hv-sh-none href="{:url('index/evals/index')}" class="link">帐号估值</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/aboutme/index')}" class="link">关于我们</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/usercenter/index')}" class="link">个人中心</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/addserver/index')}" class="link">增值服务</a>
            </li>
        </ul>
        <!--<img src="__PUBLIC__static/index/picture/font1.png" style="margin-top: 9px;margin-left: 120px;">-->
    </div>
</div>
<script>
    function gethref(obj){
        var is_open=$(obj).attr("is-open");
        var href=$(obj).attr("hc-href");
        // console.log(href);
        if(is_open==1){
            window.open(href);
        }else{
            window.location.href=href;
        }
    }
    $("[mj-hv-sh]").mouseover(function(){
        $("[mj-cd]").show();
        console.log($("[mj-cd]").height());
    })
    $("[mj-hv-sh-none],#header2").mouseover(function(){

        $("[mj-cd]").hide();
    })
    $(".mj-cd ul").mouseleave(function(event){
        $("#header_nav2").hover(function () {
            event.preventDefault();
        })
        $("[mj-cd]").hide();

    })
    function selectFour(object, type) {
        var url = "/product_8_2.htm";
        var string = $(object).html();

        var rec = "";
        var top = "";
        var author = "";
        var exp = "";
        var email = "";
        var branch = "";

        if (type == 1) {
            author = string;
        } else if (type == 2) {
            exp = string;
        } else if (type == 3) {
            email = string;
        } else if (type == 4) {
            branch = string;
        }
        url = url + '?rec=' + rec + '&top=' + top + '&author=' + author + '&exp=' + exp + '&email=' + email + '&branch=' + branch;
        window.location.href = url;
    }
</script>
<!--主体-->
<script type="text/javascript" src="__PUBLIC__static/index/js/mediadetail.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__static/index/css/mediadetail.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__static/index/css/wxmain.css">
<style>
    #alert s{
        position: relative;
    }
    #alert s table{
        margin: 0 auto;
    }
    #detail>div table{
        position: absolute;
        width: 90px;
        height:90px;
        top: 10px;
        left: 698px;
        display: none;
    }
    .mh-ct img{
        max-width: 100%;
    }
    .wemedia-xq-b *{
        -webkit-box-sizing:content-box !important;
        box-sizing: content-box;

    }
    .wemedia-xq-b a,.wemedia-xq-b li{
        font-family: 微软雅黑, Microsoft YaHei, \5FAE\8F6F\96C5\9ED1;
        font-size: 12px;
    }
    .wemedia-xq-tow-bm img{
        width: 100%;
    }
    .wemedia-xq-tow-b{
        height: auto;
    }
    @keyframes hlhot {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(0, -3px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    @-webkit-keyframes hlhot {
        0% {
            -webkit-transform: translate(0, 0);
        }
        50% {
            -webkit-transform: translate(0, -5px);
        }
        100% {
            -webkit-transform: translate(0, 0);
        }
    }
    .main_right{
        width: 300px;
        background-color: white;

        height: 480px;
    }
    .right_top{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 5px;
        margin-top: 20px;
    }
    .right_img{
        display: flex;
        margin: 5px auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    .right_m li{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right_f{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .right_f li{
        list-style: none;
        float: left;
        margin-left: 5px;
    }
    .buyfooter{
        width: 100%;height: 200px;
        margin-top: 18px;
    }
    .buyfooter li{
        list-style: none;
        height: 50px;
    }
    /*勾选框*/
    .squaredFour {
        width: 20px;
        position: relative;

    }
    .squaredFour label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        background: #448FF4;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    }
    .squaredFour label:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid white;
        border-top: none;
        border-right: none;
        background: transparent;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .squaredFour label:hover::after {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5;
    }
    .squaredFour input[type=checkbox] {
        visibility: hidden;
    }
    .squaredFour input[type=checkbox]:checked + label:after {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
    /*勾选号结束*/
    .xieyi{
        width: 300px;
        display: flex;
        align-items: center;

    }
    .price{
        display: flex;
        align-items: center;
        font-size: 22px;
        color: #EA342F;
        font-weight: bold;
    }
    .bt{
        display: flex;
        align-items: flex-end;
    }
    .topay{
        width: 100px;
        height: 30px;
        background-color: #1F9EBF;
        border-radius: 5px;
        text-align: center;
        padding-top: 2px;
        cursor: pointer;
    }
    .topay a{
        color: whitesmoke;
        line-height: 30px;
    }
    .callkf{
        width: 100px;
        height: 30px;
        border: 1px #0c94eb solid;
        border-radius: 5px;
        text-align: center;
        margin-left: 25px;
        cursor: pointer;
    }
    .showphone{
        width: 120px;
        height: 30px;
        background-color: #5A72F6;
        border-radius: 5px;
        text-align: center;
        margin-left: 25px;
        line-height: 35px;
        cursor: pointer;
    }
    .showphone a{
        color: white;
    }
    .callkf a{
        color:#1F9EBF;
        line-height: 30px;
        font-weight: bold;
    }
    .jybz{
        width: 1130px;
        height: 70px;
        margin:1px 10px;
        line-height: 70px;
        font-weight: bold;
        font-size: 20px;
    }
    .dohidden{
        display: none;
    }
    .paymain{
        width: 1200px;
        height: 700px;
        margin: 5px auto;
        background-color: white;
    }
    .paymain .hh {
        width: 100%;
        height: 50px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        color: #000;
        font-size: 15px;
        border-bottom: 1px solid #f2f2f2;
    }
    .paymain .bb {
        padding: 20px 30px;
    }
    .c1 {
        width: 100%;
        height: 130px;
        padding: 10px 20px;
        background-color: #f5fbfb;
    }
    .c1 .title {
        display: flex;
        margin-bottom: 15px;
    }
    .c1 .title span {
        color: #000;
        font-size: 14px;
        margin-left: 10px;
    }
    .c1 .info {
        width: 800px;
        height: 120px;
        display: flex;
        justify-content: space-between;
    }
    .c1 .info .item {
        width: 150px;
        display: flex;
        flex-direction: column;
    }
    .c1 .info .item p {
        color: #666;
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .c1 .info .item p span {
        color: #ff3b3c;
    }
    .c1 .info .item p .price {
        color: #ff4d00;
        font-size: 15px;
    }
    .c1 .info .item p .state {
        color: #000;
    }
    .c2 {
        display: flex;
        margin-bottom: 20px;
    }
    .c2 .item {
        border: 1px solid #ddd;
        width: 120px;
        height: 40px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .c2 .item img {
        width: 90px;
    }
    .c3 {
        color: #999;
        font-size: 10px;
        margin-top: 20px;
    }
    .c4 {
        float: right;
        margin-top: 50px;
        margin-right: 30px;
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .c4 .r1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .c4 .r1 .left {
        width: 200px;
        color: #000;
        font-size: 15px;
        text-align: right;
    }
    .c4 .r1 .right {
        width: 200px;
        color: #333;
        font-size: 15px;
    }
    .c4 .r1 .price {
        color: #ff3b3c;
        font-size: 20px;
    }
    .c4 .r2 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .c4 .b1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 30px;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        background-color: #ff3b3c;
        cursor: pointer;
    }
    .c4 .b2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        background-color: #009688;
        cursor: pointer;
        margin: 0 50px;
    }
    .c5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .c5 .code {
        width: 200px;
        height: 200px;
        margin-left: 100px;
    }
    .c5 .code .codeimg {
        width: 200px;
        height: 200px;
    }
</style>
<div id="location">当前位置：
    <a></a> &gt; <a>微信公众号交易</a>
</div>
<div class="main">
    <div id="detail" style="display: flex;height: 55%">
        <div style="padding: 30px;">
            <div style="margin-left: 12px;">
                <img src="__PUBLIC__static/index/images/wx.png" width="25" height="25">
                <label style="color: #363733;font-weight:bold;font-size: 17px;margin-left: 8px;line-height: 25px;">{$detail.zhname}</label>
            </div>
            <ul>
                <li>
                    <a>所属平台</a><i>微信公众号</i>
                    <a>头条阅读数</a><i>{$detail.headernum}</i>
                    <a>封号次数</a><i>0</i>
                    <a>注册时间</a><i style="width: 100px;">{$detail.regtime}</i>
                </li>
                <li>
                    <a>所属类目</a><i style="width: 120px;">{$detail.fortypetext}</i>
                    <a>阅读UV</a><i>{$detail.UV}</i>
                    <a>粉丝数量</a><i>{$detail.fansnum}</i>
                </li>
                <li>
                    <a>账号类型</a><i>{$detail.name}</i>
                    <a>流量主月收入</a><i>{$detail.getmonth}</i>
                    <a>粉丝偏向</a>
                    <i>
                    {switch name="$detail.sexbli" }
                    {case value="1"}男居多{/case}
                    {case value="2"}女居多{/case}
                    {default /}男女平衡
                    {/switch}
                    </i>
                </li>
                <li>
                    <a>认证状态</a>
                    <i>
                        {switch name="$detail.isrz" }
                        {case value="1"}个人认证{/case}
                        {case value="2"}企业认证{/case}
                        {default /}未认证
                        {/switch}
                    </i>
                    <a>违规次数</a><i>{$detail.weiguinum|default="0"}</i>
                    <a>粉丝区域</a><i>全国</i></li>
            </ul>
            <div class="buyfooter">
                <ul>
                    <span>价格</span>
                    <li class="price">￥{$detail.price}</li>
                    <li  class="xieyi">
                        <div class="squaredFour">
                            <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                            <label for="squaredFour"></label>
                        </div>
                        <span style="margin-left: 10px;margin-top: 3px;">我已阅读并同意<a onclick="showxieyi();" style="color: #69ADF0;margin-right:7px;cursor: pointer;">《云乐互联用户协议》</a></span>
                    </li>
                    <li class="bt">
                        <span class="topay"><a onclick="topay();">立即购买</a></span>
                        <span class="callkf"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$detail.kfqq}&site=qq&menu=yes">联系客服</a></span>
                        <span class="showphone"><a onclick="showphone();">卖家联系方式</a></span>
                        <span style="font-size: 10px;color: #565A5F;margin: 0 auto">发布时间{$detail.addtime}</span>
                    </li>
                </ul>
            </div>

        </div>
        <div style="width: 28%;box-shadow: none;">
            <div class="main_right">
                <div class="right_top">
                    <img src="__PUBLIC__static/index/images/toright.png" style="margin-right: 10px;height: 30px;">
                    <span style="color: #61656C;font-size: 18px;font-weight: bold;">客服在线</span>
                    <img src="__PUBLIC__static/index/images/toleft.png" style="margin-left: 10px;height: 30px;">
                </div>
                <div class="right_img">
                    <img src="__PUBLIC__static/index/images/bigkf.png" width="150" height="150">
                </div>
                <div class="right_m">
                    <ul>
                        <li style="color: #A09D9D;font-size: 16px;font-weight:bold;margin-top: 30px;">云乐顾问</li>
                        <li style="color: #61656C;font-size: 18px;font-weight: bold;margin-top: 10px;">专业公众号顾问</li>
                        <li style="color: #A09D9D;font-size: 16px;font-weight:bold;margin-top: 20px;">联系电话:{$detail.kfphone}</li>
                        <li style="height: 40px;width: 80%;padding:5px 20px;margin:10px auto;background-color: #5A72F6;"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$detail.kfqq}&site=qq&menu=yes" style="color: white">联系客服</a></li>
                    </ul>
                </div>
                <div class="right_f">
                    <ul>
                        <li><img src="__PUBLIC__static/index/images/ht.png" width="25" height="20"><span style="margin: 2px 5px;">签署合同</span></li>
                        <li><img src="__PUBLIC__static/index/images/db.png" width="25" height="20"><span style="margin: 2px 5px;">担保转让</span></li>
                        <li><img src="__PUBLIC__static/index/images/sh.png" width="25" height="20"><span style="margin: 2px 5px;">贴心售后</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto;width: 1200px">
        <div class="wemedia-xq-b">
            <!--导航信息-->
            <div id="tab_fxd" class="" style="display: block;">
                <div class="tit">
                    <ul>
                        <li class="on"><span>卖家描述/截图</span></li>
                    </ul>
                </div>
            </div>
            <!--内容信息-->
            <div class="sectionBox">
                <div class="section">
                    <div class="wemedia-xq-b-a">
                        <div class="wemedia-xq-b-aa">
                            <div class="wemedia-xq-b-aaa">
                                <div class="wemedia-xq-b-aaal"></div>
                                <div class="wemedia-xq-b-aaar"></div>
                            </div>
                            <div class="wemedia-xq-b-aae">{$detail.desc}</div>
                            <div class="wemedia-xq-b-aac">
                                <div class="wemedia-xq-b-aacl"></div>
                                <div class="wemedia-xq-b-aacr"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="wemedia-xq-tow">
                        <div class="wemedia-xq-tow-a">
                            <div class="wemedia-xq-tow-al">账号截图展示</div>

                        </div>
                        <div class="wemedia-xq-tow-b">
                            <div class="wemedia-xq-tow-bl"></div>
                            <div class="wemedia-xq-tow-bm">
                                {volist name="imgarr" id="vo"}
                                <p><img src="{$vo}" style="" title="1535367318117932.jpg"/><br/></p><hr/>
                                {/volist}
                                <p><br/></p>
                            </div>
                            <div class="wemedia-xq-tow-br"></div>
                        </div>

                    </div>
                </div>

                <div class="section">
                    <div class="jybz">交易步骤</div>
                    <div class="wemedia-xq-three">
                        <div class="wemedia-xq-three-a">
                            <ul>
                                <li>
                                    <div class="wemedia-xq-three-a-a">
                                        <div class="wemedia-xq-three-a-a-01">
                                            <img src="__PUBLIC__static/index/images/jy01.png"width="100" height="100">
                                            <img src="__PUBLIC__static/index/images/lcr.png"width="80" height="20" style="padding-left: 20px;">
                                        </div>
                                        <div class="wemedia-xq-three-a-ab">交易达成一致</div>
                                    </div>
                                </li>
                                <li><div class="wemedia-xq-three-a-b"></div></li>
                                <li>
                                    <div class="wemedia-xq-three-a-a">
                                        <div class="wemedia-xq-three-a-a-02" >
                                            <img src="__PUBLIC__static/index/images/jy02.png"width="100" height="100">
                                            <img src="__PUBLIC__static/index/images/lcr.png" height="20" style="margin-left: 20px;">
                                        </div>
                                        <div class="wemedia-xq-three-a-ab">下单买方支付款项</div>
                                    </div>
                                </li>
                                <li><div class="wemedia-xq-three-a-b"></div></li>
                                <li>
                                    <div class="wemedia-xq-three-a-a">
                                        <div class="wemedia-xq-three-a-a-03">
                                            <img src="__PUBLIC__static/index/images/jy03.png"width="100" height="100">
                                            <img src="__PUBLIC__static/index/images/lcr.png" height="20" style="margin-left: 20px;">
                                        </div>
                                        <div class="wemedia-xq-three-a-ab">卖方给买方发货</div>
                                    </div>
                                </li>
                                <li><div class="wemedia-xq-three-a-b"></div></li>
                                <li>
                                    <div class="wemedia-xq-three-a-a">
                                        <div class="wemedia-xq-three-a-a-04">
                                            <img src="__PUBLIC__static/index/images/jy04.png"width="100" height="100">
                                            <img src="__PUBLIC__static/index/images/lcr.png" height="20" style="margin-left: 20px;">
                                        </div>
                                        <div class="wemedia-xq-three-a-ab">买方确认物品</div>
                                    </div>
                                </li>
                                <li><div class="wemedia-xq-three-a-b"></div></li>
                                <li>
                                    <div class="wemedia-xq-three-a-a">
                                        <div class="wemedia-xq-three-a-a-05">
                                            <img src="__PUBLIC__static/index/images/jy05.png"width="100" height="100">
                                        </div>
                                        <div class="wemedia-xq-three-a-ab">买方将收益项支付给卖方</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="paymain">
    <!--<div class="hh">订单号：201820182018201820182018</div>-->
    <div class="bb">
        <div class="c1">
            <div class="title">
                <img src="__PUBLIC__static/index/images/wx.png" />
                <span>{$detail.zhname}</span>
            </div>
            <div class="info">
                <div class="item">
                    <p>自媒体类型：微信公众号</p>
                    <p>主体类型：
                        {switch name="$detail.isrz" }
                        {case value="1"}个人认证{/case}
                        {case value="2"}企业认证{/case}
                        {default /}未认证
                        {/switch}
                    </p>
                    <p>所属类目：{$detail.fortypetext}</p>
                </div>
                <div class="item">
                    <p>注册时间：{$detail.regtime}</p>
                    <p>粉丝数量：{$detail.fansnum}</p>
                </div>
                <div class="item">
                    <p>数量：<span>1</span></p>
                    <p>单价：<span>￥{$detail.price}</span></p>
                    <!--<p>服务费：<span>￥1600.00</span></p>-->
                </div>
                <div class="item">
                    <p class="price">￥{$detail.price}</p>
                    <p class="state">状态：待支付</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hh">支付方式</div>
    <div class="bb">
        <div class="c2">
            <!-- <div class="item"><img src="__PUBLIC__static/index/images/alipay.png" /></div> -->
            <div class="item"><img src="__PUBLIC__static/index/images/wxpay.png" /></div>
        </div>
        <p class="c3">提示：购买商品，卖家无理由退款不退服务费</p>
        <div class="c5">
            <div class="code" id="paycode">
                <!--<img class="codeimg dohidden" src="__PUBLIC__static/index/images/wemedia-xq-bg1.jpg" />-->
            </div>
            <div class="c4">
                <div class="r1">
                    <div class="left">1件商品，总商品金额：</div>
                    <div class="right">￥{$detail.price}</div>
                </div>
                <!--<div class="r1">-->
                    <!--<div class="left">服务费：</div>-->
                    <!--<div class="right">￥1670.00</div>-->
                <!--</div>-->
                <!--<div class="r1">-->
                    <!--<div class="left">已支付金额：</div>-->
                    <!--<div class="right">￥34000.00</div>-->
                <!--</div>-->
                <div class="r1">
                    <div class="left">应支付金额：</div>
                    <div class="right price">￥{$detail.price}</div>
                </div>
                <div class="r2">
                    <div id="pay" class="b1" onclick='getpaycode("{$detail.id}")'>立即付款</div>
                    <div class="b2" onclick="hidepay()">返回</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
    })
    function showxieyi() {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['420px', '240px'], //宽高
            content: 'html内容'
        });
    }
    showmain();
    function topay() {
        $.post("{:url('index/productdetail/checklogin')}",{},function (e) {
            if (e==1){
                console.log('e=='+e)
                showpay();
            }else{
                console.log('e=='+e)
                window.location.href="{:url('index/login/index')}";
            }

        })

    }
    function getpaycode(id) {
        console.log('收到的id='+id)
        $('.codeimg').show();
        //{:url("index/productdetail/postorder")}?gid=
        img="<img alt='微信扫码支付' width='250px' src='{:url('index/productdetail/postorder')}?gid="+id+"'/>";
        $("#paycode").html(img);
        var setin1=setInterval(function () {
            console.log('监听支付');
            $.post("{:url('index/usercenter/getstate')}",{gid:id,ishao:1},function (e) {
                if(e){
                    clearInterval(setin1);
                    window.location.href="{:url('index/usercenter/index')}";
                }
            })
        },1000)
    }
    function showpay() {
        $('.paymain').removeClass('dohidden');
        $('.main').addClass('dohidden');
    }
    function hidepay() {
        $('.main').removeClass('dohidden');
        $('.paymain').addClass('dohidden');
    }
    function showmain() {
        $('.paymain').addClass('dohidden');
        $('.main').removeClass('dohidden');
    }

</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
    })
    function showxieyi() {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['700px', '850px'], //宽高
            content: '<div style="padding: 20px;">{$payxieyi.contents}</div>'
        });
    }
    showmain();
    function showpay() {
        $('.paymain').removeClass('dohidden');
        $('.main').addClass('dohidden');
    }
    function showmain() {
        $('.paymain').addClass('dohidden');
        $('.main').removeClass('dohidden');
    }
    function showphone() {
        layer.confirm('<label style="color: red;">重点提示</label>  一定要经过云乐互联担保交易，保证资金100%安全。普通会员最多免费看3个商家，是否继续',function(index){
            var lod=layer.load(0, {shade: false});
            $.post('',{id:"{$detail.id}"},function (e) {
                var datas=JSON.parse(e);
                if(datas.code==1){
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['500px', '350px'], //宽高
                        content: '<div style="padding: 20px;">手机号：'+datas.phone+'</div>',
                        end:function () {
                            layer.closeAll()
                        }
                    });
                }else if(datas.code==0){
                   layer.msg('免费次数已用请升级会员！')
                    setTimeout(function () {
                        layer.closeAll()
                    },1000)
                }else if(datas.code==-2){
                    window.location.href="{:url('index/login/index')}";
                }else{
                    //过期
                    layer.msg('会员已过期！')
                    setTimeout(function () {
                        layer.closeAll()
                    },1000)
                }


            });
        });
    }
    
</script>
<script src="__PUBLIC__static/index/js/jquery.qrcode.min.js"></script>
<script src="__PUBLIC__static/index/js/space_show.js"></script>
<!--尾部-->
{include file="common:foot" /}
          