{include file="common:header" /}
<style>
    /*分页*/
    .pagination {
        margin-top: 20px;

    }
    .pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}
    .pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}
    .pagination li a {display: block;text-align: center;}
</style>
</head>

<body>

<style>
    #online>div>s{
        background: url("__PUBLIC__static/index/images/kefu.png")  center center no-repeat;
        background-color:#666 ;
    }
    body > iframe{
        opacity:0;
        display:none;
    }

</style>
<div id="header2">
    <div>
        <div style="margin: 0 auto;width: 1200px;position: relative">您好&nbsp;{$uinfo.username}，欢迎来到云乐互联！
            {notempty name="uinfo"}
            <span onclick="loginout();" style="cursor: pointer;">【退出】</span>
            {/notempty}

            <p>
                <span><a class="link" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$baseinfo.kfqq}&site=qq&menu=yes">联系客服</a></span>
                <span><a>服务热线：</a><i>{$baseinfo.phone}</i></span>
            </p>
        </div>
    </div>

    <form method="get">
        <div>
            <div><img onclick="gethref(this)" hc-href="{:url('index/index/index')}" alt="公众号出售-公众号价格-公众号买卖-云乐互联公众号交易平台"
                      src="__PUBLIC__static/index/picture/logo.jpg" width="230" height="90">
                <div>
                    <em>
                        <input class="hc-input" hc-title name="title" placeholder="输入您需求的关键词，如“订阅号”">
                        <input type="text" value="搜索" id="dokeyword" class="hc-sub" style="color: #fff;padding-left: 30px;"/>
                    </em>
                    <ul>
                        {volist name="typetop" id="vo"}
                        <li><a style="color:#787878" href="{:url('index/deal/index',['tid'=>$vo.tid])}" class="link">{$vo.name}</a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    document.onkeydown=function(e){
        var e = e || event;
        var currKey = e.keyCode || e.which || e.charCode;//支持IE,FireFox
        if (currKey == 13) {
            var _title = $("[hc-title]").val();
            var url="{:url('index/deal/index',['types'=>1,'keywords'=>'keys'])}";
            newurl=url.replace('keys',_title);
            window.location.href = newurl;
        }
    }
    $(".hc-sub").click(function () {
        var _title = $("[hc-title]").val();
        var url="{:url('index/deal/index',['types'=>1,'keywords'=>'keys'])}";
        newurl=url.replace('keys',_title);
        window.location.href = newurl;

    })
</script>
<style>
    #header2>div:first-child{
        z-index: 10;
    }
    .mh-hot{
        position: absolute;
        width: 24px;
        height: 16px;
        background: url("__PUBLIC__static/index/images/hot_icon.png") center center no-repeat;
        background-size: 100%;
        left: 61px;
        animation: hot 1s infinite linear;
        -webkit-animation: hot 1s infinite linear;
    }
    .mh-new{
        position: absolute;
        width: 24px;
        height: 16px;
        background: url("__PUBLIC__static/index/images/new_icon.png") center center no-repeat;
        background-size: 100%;
        left: 61px;
        animation: hot 1s infinite linear;
        -webkit-animation: hot 1s infinite linear;
    }


    @keyframes hot {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(0, -3px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    @-webkit-keyframes hot {
        0% {
            -webkit-transform: translate(0, 0);
        }
        50% {
            -webkit-transform: translate(0, -5px);
        }
        100% {
            -webkit-transform: translate(0, 0);
        }
    }

</style>

<div id="header_nav2" >
    <div class="mj-hv-total"  style="position: relative;height: 70px">
        <ul>
            <li><a mj-hv-sh-none href="{:url('index/index/index')}" class="link">首页</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li><a mj-hv-sh href="{:url('index/deal/index')}" class="link chooseit">公众号转让</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li style="position: relative">
                <a mj-hv-sh-none href="{:url('index/sell/index')}">卖公众号</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li><a mj-hv-sh-none href="{:url('index/deal/index')}">买公众号</a></li>
            <li style="margin:0;color: #fff;">|</li>
            <li style="position: relative">
                <a mj-hv-sh-none href="{:url('index/evals/index')}" class="link">帐号估值</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/aboutme/index')}" class="link">关于我们</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/usercenter/index')}" class="link">个人中心</a>
            </li>
            <li style="margin:0;color: #fff;">|</li>
            <li>
                <a mj-hv-sh-none href="{:url('index/addserver/index')}" class="link">增值服务</a>
            </li>
        </ul>
    </div>
</div>

<script>
    function gethref(obj){
        var is_open=$(obj).attr("is-open");
        var href=$(obj).attr("hc-href");
        // console.log(href);
        if(is_open==1){
            window.open(href);
        }else{
            window.location.href=href;
        }
    }
    $("[mj-hv-sh]").mouseover(function(){
        $("[mj-cd]").show();
        console.log($("[mj-cd]").height());
    })
    $("[mj-hv-sh-none],#header2").mouseover(function(){

        $("[mj-cd]").hide();
    })
    $(".mj-cd ul").mouseleave(function(event){
       $("#header_nav2").hover(function () {
           event.preventDefault();
       })
        $("[mj-cd]").hide();

    })
    //    獲取參數
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return decodeURIComponent(r[2]);
        }
        return null;
    }

    function selectFour(object, type,id) {
        var url = "{:url('index/deal/index')}";
        var string = $(object).html();
        var haotype = GetQueryString("type")?GetQueryString("type"):'';
        var fortype = GetQueryString("fortype")?GetQueryString("fortype"):'';
        var fsnum = GetQueryString("fansnum")?GetQueryString("fansnum"):'';
        //价格区间
        var price = GetQueryString("price")?GetQueryString("price"):'';
        //头条uv
        var uv = GetQueryString("uv")?GetQueryString("uv"):'';
        //其他筛选

        var fsbili = GetQueryString("fsbili")?GetQueryString("fsbili"):3;
        var liu = GetQueryString("liu")?GetQueryString("liu"):'';
        var wg = GetQueryString("wg")?GetQueryString("wg"):'';
        var isrz = GetQueryString("isrz")?GetQueryString("isrz"):3;
        //排序
        var allsort=GetQueryString("allsort")?GetQueryString("allsort"):'';
        var pricesort=GetQueryString("pricesort")?GetQueryString("pricesort"):'';
        var sfnumsort=GetQueryString("sfnumsort")?GetQueryString("sfnumsort"):'';
        if (type == 1) {
            console.log('类型1')
            haotype = id;
        } else if (type == 2) {
            console.log('类型2')
            fortype = id;
        } else if (type == 3) {
            price = id;
        } else if (type == 4) {
            //粉丝数量
            fsnum=id;
        }else if (type == 5) {
            //粉丝区间
        }else if(type==6){
            uv = id;
        }else if(type==7){
            if(allsort==0||allsort==''){
                allsort=1;
            }else{
                allsort=0;
            }

        }else if(type==8){
            if(pricesort==0||pricesort==''||pricesort==2){
                pricesort=1;
            }else{
                pricesort=0;
            }
            sfnumsort=2
        }else if(type==9){
            if(sfnumsort==0||sfnumsort==2||sfnumsort==''){
                sfnumsort=1;
            }else{
                sfnumsort=0;
            }
            pricesort=2
        }

        url = url + '?type=' + haotype + '&fortype=' + fortype
            + '&fansnum=' + fsnum + '&price=' + price
            + '&uv=' + uv + '&wg=' + wg+ '&liu=' + liu
             + '&isrz=' + isrz+ '&fsbili=' + fsbili
            + '&allsort=' + allsort+ '&pricesort=' + pricesort+ '&sfnumsort=' + sfnumsort;
        window.location.href = url;
    }
</script>

<!--主体-->
<!--公众号转让-->
<script>
    var pages=[];
</script>
<div id="location">当前位置：
    <a></a> &gt; <a>微信公众号交易</a></div>

<style>
    #items>li>div>s{
        width: 130px;
    }
    .mj-index-l{
        width:215px;
        height: auto;
        float: left;
        background: url(__PUBLIC__static/index/images/mh-bg-l.png) top center no-repeat;
        background-size: 100% auto;
        margin-right: 8px;
        background-color: #fff;
    }
    .mj-title{
        height: 85px;
        line-height: 85px;
        text-align: center;
        color: #fff;
        font-size: 32px;
    }
    .mj-l-a{
        width:135px;
        height: 35px;
        display: block;
        margin:0 auto;
        margin-top: 16px;
        line-height: 30px;
        font-size: 14px;
        color:#fff;
        margin-bottom: 9px;
        background: url("__PUBLIC__static/index/images/l-index-buy.png") center center no-repeat;
        /*background-color: #f22b44;*/
        background-size: 100% 100%;
        text-align: left;
        border-radius: 5px;
        text-indent: 2.5rem;
    }
    .mh-pro-input{
        height: 24px;
        line-height: 22px;
        margin: 6px 4px;
        padding: 0 6px;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        color: #282828;
        border: 1px solid #ccc;
        width: 50px;
    }
    .mh-pro-input-sub{
        height: 24px;
        line-height: 22px;
        margin: 6px 4px;
        padding: 0 6px;
        background: #C894F7;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        border: 1px solid #C894F7;
        width: 50px;
    }
    #select_box>ul{
        padding: 0 0px;
    }
    .wemedia-list-al-b-cal{
        color: #0e4ac5;
    }
    .wemedia-list-al-b-cb{
        color: #999;
    }
    .citychek {
        width: 300px;
        height: 30px;
    }
    #cleanarea{
        height: 24px;
        line-height: 22px;
        margin: 6px 4px;
        padding: 0 6px;
        background: #C894F7;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        border: 1px solid #C894F7;
        width: 50px;
        display: flex;
    }
    input::-webkit-input-placeholder{
        color:#939598;
    }
    input::-moz-placeholder{   /* Mozilla Firefox 19+ */
        color:#939598;
    }
    input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
        color:#939598;
    }
    input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
        color:#939598;
    }
    .yeardata{
        height: 28px;border: 1px solid #cecece;
        margin-top: 4px;
    }
    #checktime{
        width: 100px;height: 25px;margin-right: 10px;
    }
    #checktime img{
        position: absolute;
        top: 14px;
        left: 287px;
    }
    .ul_footer{
        background-color: white;
        color: #939598;
        border-top: 1px dashed #cecece;
        display: flex;
        justify-content: space-between;

    }
    .selectre{
        padding-left: 20px;
        display: flex;
        align-items: center;
    }
    .selectre ul li{
        list-style: none;
        float: left;
        margin-bottom: 14px;

    }
    .cleanselet{
        border: 1px #cecece solid;
        width: 120px;
        height:30px;
        color: #939598;
        padding: 3px 5px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-right: 25px;
    }
    .cleanall{
        cursor: pointer;
    }
</style>

<div style="width: 1200px;margin: 0 auto;overflow: hidden">
    <form method="get">
        <div id="select_box" style="width: 1200px;" >
            <!--    <div></div>-->
            <ul>
                <li>
                    <div class="box_left">账号类型</div>
                    <em>
                        <a class="link {$gethaotype==''?'u':''}" onclick="selectFour(this,type=1,'')" >全部</a>
                        {volist name="haotype" id="vo"}
                        <a  onclick="selectFour(this,type=1,'{$vo.htid}')" class="link {$vo['htid']==$gethaotype?'u':''}">{$vo.name}</a>
                        {/volist}
                    </em>
                </li>
                <li>
                    <div class="box_left">公众号类目</div>
                    <em>
                        <a onclick="selectFour(this,type=2,'')" class="link {$fortype==''?'u':''}">全部</a>
                        {volist name="alltype" id="vo"}
                        <a  onclick="selectFour(this,type=2,'{$vo.tid}')" class="link {$vo['tid']==$fortype?'u':''}">{$vo.name}</a>
                        {/volist}
                    </em>
                </li>
                <li>
                    <div class="box_left">价格区间</div>
                    <em>
                        <a onclick="selectFour(this,type=3,'')" class="link {$price==''?'u':''}">全部</a>
                        <a onclick="selectFour(this,type=3,1)" class="link {$price==1?'u':''}">1万以内</a>
                        <a onclick="selectFour(this,type=3,2)" class="link {$price==2?'u':''}">1-3万</a>
                        <a onclick="selectFour(this,type=3,3)" class="link {$price==3?'u':''}">3-5万</a>
                        <a onclick="selectFour(this,type=3,4)" class="link {$price==4?'u':''}">5-7万</a>
                        <a onclick="selectFour(this,type=3,5)" class="link {$price==5?'u':''}">7-10万</a>
                        <a onclick="selectFour(this,type=3,6)" class="link {$price==6?'u':''}">10-20万</a>
                        <a onclick="selectFour(this,type=3,7)" class="link {$price==7?'u':''}">20万以上</a>
                    </em>

                </li>
                <li>
                    <div class="box_left">粉丝数量</div>
                    <em>
                        <a onclick="selectFour(this,type=4,'')" class="link {$fsnum==''?'u':''}">全部</a>
                        <a onclick="selectFour(this,type=4,1)" class="link {$fsnum==1?'u':''}">5000以下</a>
                        <a onclick="selectFour(this,type=4,2)" class="link {$fsnum==2?'u':''}">5001-1万</a>
                        <a onclick="selectFour(this,type=4,3)" class="link {$fsnum==3?'u':''}">1万-2万</a>
                        <a onclick="selectFour(this,type=4,4)" class="link {$fsnum==4?'u':''}">2-10万</a>
                        <a onclick="selectFour(this,type=4,5)" class="link {$fsnum==5?'u':''}">10-15万</a>
                        <a onclick="selectFour(this,type=4,6)" class="link {$fsnum==6?'u':''}">15-20万</a>
                        <a onclick="selectFour(this,type=4,7)" class="link {$fsnum==7?'u':''}">20-25万</a>
                        <a onclick="selectFour(this,type=4,8)" class="link {$fsnum==8?'u':''}">25-30万</a>
                        <a onclick="selectFour(this,type=4,9)" class="link {$fsnum==9?'u':''}">30万以上</a>
                    </em>

                </li>
                <li>
                    <div class="box_left">单粉均价</div>
                    <em>
                        <a onclick="selectFour(this,type=5,'')" class="link {$fsnum==''?'u':''}">不限</a>
                        <input  type="text" value="{$min}" name="min" class="mh-pro-input"/>
                        <span style="line-height: 37px;">-</span><input  value="{$max}" name="max" class="mh-pro-input"/><span style="line-height: 35px;color: #939598;">元/粉</span>
                        <input class="mh-pro-input-sub" type="button" id="findone" value="确定"/>
                    </em>

                </li>

                <li>
                    <div class="box_left">头条UV</div>
                    <em>
                        <a onclick="selectFour(this,type=6,'')" class="link {$uv==''?'u':''}">不限</a>
                        <a onclick="selectFour(this,type=6,1)" class="link {$uv==1?'u':''}">3%以下</a>
                        <a onclick="selectFour(this,type=6,2)" class="link {$uv==2?'u':''}">3%-5%</a>
                        <a onclick="selectFour(this,type=6,3)" class="link {$uv==3?'u':''}">5%-8%</a>
                        <a onclick="selectFour(this,type=6,4)" class="link {$uv==4?'u':''}">8%-10%</a>
                        <a onclick="selectFour(this,type=6,5)" class="link {$uv==5?'u':''}">10%以上</a>
                    </em>

                </li>
                <li>
                    <div class="box_left">其它筛选</div>
                    <em style="display: flex;">
                        <select hc-rzlx typename="isrz">
                            <option {$isrz=='3'?'selected':''}  value="3">认证主体</option>
                            <option {$isrz==0?'selected':''} value="0">未认证</option>
                            <option {$isrz==1?'selected':''} value="1">个人认证</option>
                            <option {$isrz==2?'selected':''} value="2">企业认证</option>
                        </select>
                        <select hc-rzlx typename="wg">
                            <option {$wg==''?'selected':''} value="">有无违规</option>
                            <option {$wg==1?'selected':''} value="1">不限</option>
                            <option {$wg==2?'selected':''} value="2">无违规</option>
                            <option {$wg==3?'selected':''} value="3">有违规</option>
                        </select>
                        <select hc-rzlx typename="fsbili">
                            <option {$fsbili=='3'?'selected':''} value="3">性别比例</option>
                            <option {$fsbili==0?'selected':''} value="0">男女平衡</option>
                            <option {$fsbili==1?'selected':''} value="1">男居多</option>
                            <option {$fsbili==2?'selected':''} value="2">女居多</option>
                        </select>
                        <select hc-rzlx typename="liu">
                            <option {$liu==''?'selected':''} value="">流量主是否开通</option>
                            <option {$liu==1?'selected':''} value="1">未开通</option>
                            <option {$liu==2?'selected':''} value="2">已开通</option>
                        </select>

                    </em>
                </li>
            </ul>

        </div>
        <div class="ul_footer">
            <aside class="selectre">您选择的结果
                <ul>
                    {volist name="tag" id="vo"}
                    <!--<li><s class="mh-tj"><a href="#">{$vo} ×</a></s></li>-->
                    <li><s class="mh-tj"><a href="#">{$vo}</a></s></li>
                    {/volist}
                </ul>
            </aside>
            <aside class="cleanselet"><a href="{:url('index/deal/index')}" class="cleanall" >清空筛选条件</a></aside>
        </div>

        <input name="fsnum" type="hidden" value="">
        <input name="exp" type="hidden" value="">
        <input name="email" type="hidden" value="">
        <input name="isrz" type="hidden" value="">
        <input name="pay" type="hidden" value="">
    </form>
</div>

<style>
    #lists_sort s a{
        color: #383838;
    }
    #lists_sort>b{
        margin: 12px 69px 0 0;
        height: 24px;
        line-height: 22px;
        /*margin: 6px 4px;*/
        padding: 0 6px;
        background: #f00;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        border: 1px solid #f00;
        width: 69px;
    }
    .mh-tj{
        height: 24px !important;
        line-height: 22px !important;
        margin: 14px 20px 0 10px !important;
        padding: 0 6px !important;
        border-radius: 5px !important;
        cursor: pointer;
        border: 1px solid #f00 !important;
        color: #f00 !important;
        background: none !important;
    }
    .mh-tj a{
        color: #f00 !important;
    }
    .cur a{
        color:#4B70DB !important;
    }
</style>
<div id="lists_sort">
    <s class="{$allsort==0?'u':'d cur'}" id="allorders"><a href="javascript:void(0);" onclick="selectFour(this,type=7,0);" class="link" >综合排序</a></s>
    <s class="{$pricesort==0?'u':'d cur'}" id="personorders"><a href="javascript:void(0);" onclick="selectFour(this,type=8,0);" class="link" >价格排序</a></s>
    <s class="{$sfnumsort==0?'u':'d cur'}" id="priceorders"><a href="javascript:void(0);" onclick="selectFour(this,type=9,0);" class="link" >粉丝排序</a></s>
</div>

<style>
    #items>li{
        overflow: inherit;
        border-bottom: 10px solid #F1F8FE;
    }
    #items>li table{
        position: absolute;
        width: 90px;
        height:90px;
        top: 40px;
        right: -29px;
        display: none;
    }
    #items>li b{
        font-weight: bold;
    }
</style>

<!--<div id="lists_sort"></div>-->
<ul id="items">
    {volist name="list" id="vo"}
    <li mh-ewm-0 style="position: relative">
        <div>
            <p hc-href="{:url('index/productdetail/index')}?id={$vo.id}">
                <!--<a target="_blank" href="/product_8_2_1738.htm">{$vo.zhname}，{$vo.fortypetext}，{$vo.sexbli}，因个人原因无心打理，现诚意出售</a>-->
                <a>{$vo.zhname}</a>
            </p>
            <s><u>出售价格:</u><i><span>￥{$vo.price}</span></i></s>
            <s><u>粉丝数量:</u><b style="color: #6A6C71">{$vo.fansnum}</b></s>
            <s><u>账号类型:</u><b style="color: #6A6C71">{$vo.name}</b></s>
            <s><u>行业分类:</u><b style="color: #6A6C71">{$vo.fortypetext}</b></s>
            <s><u>流量主:</u><b style="color: #6A6C71">{$vo.isliu==0?'未开通':'已开通'}</b></s>
            <s><u>开通原创:</u><b style="color: #6A6C71"> {switch name="$vo.yuanorzan" }
                {case value="0"}未开通{/case}
                {case value="1"}原创{/case}
                {case value="2"}赞赏{/case}
                {default /}原创赞赏
                {/switch}</b></s>
            <s><u>UV值：</u><b style="color: #6A6C71">{$vo.UV}</b></s>
        </div>
        <em><i>发布时间：{$vo.totime}</i><a href="http://wpa.qq.com/msgrd?v=3&uin={$vo.qq}&site=qq&menu=yes"><b>联系客服</b></a></em>
    </li>
    {/volist}
</ul>
<div id="pagination">
        {$page}
</div>

<script>
    //排序
    function sorts(type) {

        var getstate='';
        switch(type){
            case 1:
                getstate=GetQueryString("onefssort");
                getstate = getstate == 0 ? 1 : 0;
                break;
            case 2:

                getstate=GetQueryString("pricesort");
                getstate = getstate == 0 ? 1 : 0;
                break;
            case 3:

                getstate=GetQueryString("sfnumsort");
                getstate = getstate == 0 ? 1 : 0;
                break;
        }
    }
    function gethref(obj){
        var is_open=$(obj).attr("is-open");
        var href=$(obj).attr("hc-href");
        console.log(href);
        if(is_open==1){
            window.open(href);
        }else{
            window.location.href=href;
        }
    }
    $("[hc-href]").click(function () {
        var is_open = $(this).attr("is-open");
        var href = $(this).attr("hc-href");
        // console.log(href);
        if (is_open == 1) {
            window.open(href);
        } else {
            window.location.href = href;
        }

    })

    $(".mh-ewm-img").mouseover(function(){
        $(this).parents("#items>li").find("table").show();
    })
    $(".mh-ewm-img").mouseout(function(){
        $(this).parents("#items>li").find("table").hide();
    })
    $("#findone").click(function () {
        var min=$("input[name='min']").val();
        var max=$("input[name='max']").val();
        selectFour(this,type=6,min+"|"+max)
        console.log('最小=='+min+'最大=='+max);
        window.location.href = "{:url('index/deal/index')}?min="+min+"&max="+max;
    })

</script>

<script>

    $("[hc-rzlx]").change(function(){
        var _typename=$(this).attr("typename");
        switch(_typename)
        {
            case "isrz":
                var _url='{:url('index/deal/index')}?type={$gethaotype}&fortype={$fortype}&fansnum={$fsnum}' +
            '&price={$price}&uv={$uv}&fsbili={$fsbili}&liu={$liu}&wg={$wg}';
                break;
            case "fsbili":
                var _url='{:url('index/deal/index')}?type={$gethaotype}&fortype={$fortype}&fansnum={$fsnum}' +
            '&price={$price}&uv={$uv}&liu={$liu}&isrz={$isrz}&wg={$wg}';
                break;
            case "liu":
                var _url='{:url('index/deal/index')}?type={$gethaotype}&fortype={$fortype}&fansnum={$fsnum}' +
            '&price={$price}&uv={$uv}&fsbili={$fsbili}&isrz={$isrz}&wg={$wg}';
                break;
            case "wg":
                var _url='{:url('index/deal/index')}?type={$gethaotype}&fortype={$fortype}&fansnum={$fsnum}' +
            '&price={$price}&uv={$uv}&fsbili={$fsbili}&liu={$liu}&isrz={$isrz}';
                break;
        }
        var _val=$(this).val();
        window.location.href=_url+"&"+_typename+"="+_val;
    })

</script>

<!--尾部-->
{include file="common:foot" /}
          