{include file="common:header" /}
    <script type="text/javascript">
        var sna = '',
            kfqq = '',
            fwrx = '',
            yqtp = '/front/wap/images/j3trrllw.jpg',
            yqlj = 'http://yun.mmd6666.com/login/',
            hli = [
                [
                    [62, "美食"],
                    [57, "文摘"],
                    [59, "营销"],
                    [51, "汽车"],
                    [44, "教育"],
                    [61, "批量"]
                ],
                [
                    [58, "摄影"],
                    [59, "营销"],
                    [51, "汽车"],
                    [62, "美食"],
                    [56, "文化"]
                ],
                [
                    [40, "时尚"],
                    [47, "养生"],
                    [59, "营销"],
                    [57, "文摘"]
                ],
                [
                    [59, "营销"],
                    [50, "星座"],
                    [47, "养生"],
                    [57, "文摘"]
                ]
            ],
            tj1 = [
                [61, "批量"],
                [40, "时尚"],
                [13, "情感"],
                [33, "本地"],
                [51, "汽车"],
                [4, "搞笑"]
            ],
            tj2 = [
                [1, "广点通涨粉"],
                [7, "其他涨粉"]
            ],
            online = [
                ["益企发-叶健", "2852815253"],
                ["益企发-王琦", "2852808039"],
                ["益企发-杨畅翔", "2852806136"],
            ],
		
online = [
	           ["益企发-黄为立", "2852853898"],
	           ["益企发-叶健", "2852815253"],
	           ["益企发-林钰兰", "2852806135"],
	           ["益企发-王琦", "2852808039"],
	           ["益企发-严滟婷", "2852815254"],
	         ],
            labels_wx = [
                [61, "批量"],
                [33, "本地"],
                [22, "生活"],
                [40, "时尚"],
                [12, "育儿"],
                [4, "搞笑"],
                [10, "创业"],
                [11, "宠物"],
                [59, "营销"],
                [3, "影视"],
                [32, "资讯"],
                [41, "两性"],
                [57, "文摘"],
                [13, "情感"],
                [23, "医学"],
                [25, "财经"],
                [30, "明星"],
                [31, "游戏"],
                [5, "娱乐"],
                [26, "校园"],
                [53, "政商"],
                [36, "农业"],
                [37, "运动"],
                [51, "汽车"],
                [6, "科技"],
                [39, "广告"],
                [42, "动漫"],
                [44, "教育"],
                [47, "养生"],
                [50, "星座"],
                [17, "服装"],
                [56, "文化"],
                [62, "美食"],
                [75, "风水号"],
                [76, "艺术"]
            ],
            labels_qt = [
                [78, "健身"],
                [62, "美食"],
                [44, "教育"],
                [51, "汽车"],
                [59, "营销"],
                [6, "科技"],
                [5, "娱乐"],
                [53, "政商"],
                [13, "情感"],
                [50, "星座"],
                [47, "养生"],
                [12, "育儿"],
                [11, "宠物"],
                [4, "搞笑"]
            ];
//        var focus=//;
//        focus=eval('(' + focus + ')');
        var focus = [
//            ["j3bp5omk.jpg", "j4hux3oc.jpg", 0, "WeChat.aspx"],
//            ["j3koii54.jpg", "j41mm4am.jpg", 0, "Fans.aspx"],
//            ["j5je0oo3.jpg", "j5je0ih0.jpg", 0, "WeChat.aspx?c=^B^B^B^B^B^B^B100000^B^B^B^B^B^B^B^B"],
//            ["j67jcodh.jpg", "j67jes8t.jpg", 0, "http://service.wxtt.cn/"],
//            ["j5je7irg.jpg", "j5je7nmd.jpg", 0, "ServiceDetail.aspx?id=4"],
//            ["j5je9glc.jpg", "j5je9jbg.jpg", 0, "FansDetail.aspx?id=1"]
        ];
        var qq="2852815254";
        var lablePic='j3lbx8pt.png';
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?030c02b2f23fb95646bd0071e353f075";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>

<style>
    #online>div>s{
        background: url("__PUBLIC__static/index/images/kefu.png")  center center no-repeat;
        background-color:#666 ;
    }
    body > iframe{
        opacity:0;
        display:none;
    }

</style>
<div style="display: none" id="header">
    <div>
        <div>您好，欢迎来到号可易！
            <p><s><a class="link">联系客服</a></s><s><a>服务热线：</a><i>173-5987-2786</i></s></p>
        </div>
    </div>
    <form  method="get" >
        <div>
            <div><img onclick="gethref(this)" hc-href="{:url('index/index/index')}"  alt="公众号出售-公众号价格-公众号买卖-万易云公众号交易平台" src="__PUBLIC__static/index/picture/1522210272_68400000.jpg">
                <div><em><input class="hc-input" hc-title name="title" placeholder="输入您需求的关键词，如“订阅号”"><input type="submit" value="" class="hc-sub" /></em>
                    <ul>
                        {volist name="typetop" id="vo"}
                        <li><a style="color:#787878" href="{:url('index/deal/index',['tid'=>$vo.tid])}" class="link">{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="header2">

    <div>
        <div style="margin: 0 auto;width: 1200px;position: relative">您好，欢迎来到号可易！
            <p>
                <span><a class="link" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2852815254&site=qq&menu=yes">联系客服</a></span><span><a>服务热线：</a><i>173-5987-2786</i></span>
                <span class="hc-show" style="position: relative">
                    <a>关注号可易</a><span class="mj-xia"></span>


                    <div class="hmenu_bd header_menu" style="display: none">
                        <div class="wechat">
                            <div class="wech_fl">
                                <img src="__PUBLIC__static/index/picture/1515422153_51200000.jpg" width="144" alt="号可易微信公众号">
                                <p>关注号可易微信公众号</p>
                            </div>
                            <div class="cut_line"></div>
                            <div class="wech_fr">
                                <img src="__PUBLIC__static/index/picture/1515421962_5887500.jpg" width="144" alt="号可易客服微信">
                                <p>添加号可易客服微信</p>
                            </div>
                        </div>
                    </div>
                </span>
            </p>
        </div>

    </div>
<script>
    $(".hc-show").mouseover(function(){
        $('.hmenu_bd').show();
    })
    $(".hc-show").mouseout(function(){
        $('.hmenu_bd').hide();
    })
</script>

</div>
<script>
    $("[hc-sub]").click(function(){
        var _title=$("[hc-title]").val();
        var _href="product_8_2.html?title="+_title;
        window.location.href=_href;
    })
</script>
<style>
    #header2>div:first-child{
        z-index: 10;
    }
    .mh-hot{
        position: absolute;
        width: 24px;
        height: 16px;
        background: url("__PUBLIC__static/index/images/hot_icon.png") center center no-repeat;
        background-size: 100%;
        left: 61px;
        animation: hot 1s infinite linear;
        -webkit-animation: hot 1s infinite linear;
    }
    .mh-new{
        position: absolute;
        width: 24px;
        height: 16px;
        background: url("__PUBLIC__static/index/images/new_icon.png") center center no-repeat;
        background-size: 100%;
        left: 61px;
        animation: hot 1s infinite linear;
        -webkit-animation: hot 1s infinite linear;
    }


    @keyframes hot {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(0, -3px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    @-webkit-keyframes hot {
        0% {
            -webkit-transform: translate(0, 0);
        }
        50% {
            -webkit-transform: translate(0, -5px);
        }
        100% {
            -webkit-transform: translate(0, 0);
        }
    }

</style>

<div id="header_nav2" >
    <div class="mj-hv-total"  style="position: relative;height: 70px">
        <ul>
            <li><a mj-hv-sh-none  href="{:url('index/index/index')}" class="link">首页</a></li>
            <li><a   mj-hv-sh  href="{:url('index/deal/index')}" class="link">公众号转让</a></li>
            <li style="margin:0"></li>
            <li style="margin:0"></li>
            <li><a   mj-hv-sh-none  href="{:url('index/move/index')}" class="link">公众号迁移</a></li>
            <li style="position: relative">
                <span  style="left: 32px;" class="mh-new"></span>
                <a  mj-hv-sh-none  style="border-bottom: 4px solid #000;" href="{:url('index/addfeng/index')}" class="link">涨粉</a>
            </li>
            <li style="position: relative">
                <span class="mh-hot"></span>
                <a mj-hv-sh-none  href="{:url('index/sell/index')}">卖公众号</a>
            </li>
            <li><a   mj-hv-sh-none  href="{:url('index/deal/index')}">买公众号</a></li>
            <li style="position: relative">
                <a mj-hv-sh-none  href="{:url('index/evals/index')}" class="link">帐号估值</a>
            </li>
            <li>
                <a  mj-hv-sh-none  href="{:url('index/aboutme/index')}" class="link">关于号可易</a>
            </li>

        </ul>
        <div mj-cd id="select_box" class="mj-cd" style="display:none;position: absolute;left: 0;top:69px;z-index:10;width: auto;border: 4px solid #ffda44;border-top: 0" >
            <!--    <div></div>-->
            <ul style="background: #fff">
                <li>
                    <s>公众号类型：</s>
                    <em>
                        <a class="link u" onclick="selectFour(this,type=1)" >全部</a>
                        <a  onclick="selectFour(this,type=1)" class="link ">订阅号</a>
                        <a onclick="selectFour(this,type=1)" class="link ">服务号</a>
                    </em>
                </li>
                <li>
                    <s>公众号类目：</s>
                    <em>
                        <a onclick="selectFour(this,type=2)" class="link u">全部</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">搞笑</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">娱乐</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">汽车</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">财经</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">母婴</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">电商</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">本地</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">两性</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">电影</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">视频</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">教育</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">美食</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">旅游</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">情感</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">健身</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">养生</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">金融</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">游戏</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">宠物</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">励志</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">文学</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">漫画</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">军事</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">风水</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">星座</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">音乐</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">艺术</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">生活</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">交友</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">体育</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">时尚</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">其他</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">科技</a>
                                                    <a onclick="selectFour(this,type=2)" class="link ">读书</a>
                                            </em>
                </li>
                <li>
                    <s>价格区间：</s>
                    <em>
                        <a onclick="selectFour(this,type=3)" class="link u">不限</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">0-1万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">1-5万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">5-10万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">10-15万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">15-20万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">20-25万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">25-30万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">30万以上</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">30-50万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">50-80万</a>
                                                    <a onclick="selectFour(this,type=3)" class="link ">80万以上</a>
                                            </em>
                </li>
                <li>
                    <s>认证类型：</s>
                    <em>
                        <a onclick="selectFour(this,type=4)" class="link u">不限</a>
                        <a onclick="selectFour(this,type=4)" class="link ">未认证</a>
                        <a onclick="selectFour(this,type=4)" class="link ">已认证</a>
                    </em>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function gethref(obj){
        var is_open=$(obj).attr("is-open");
        var href=$(obj).attr("hc-href");
        // console.log(href);
        if(is_open==1){
            window.open(href);
        }else{
            window.location.href=href;
        }
    }
    $("[mj-hv-sh]").mouseover(function(){
        $("[mj-cd]").show();
        console.log($("[mj-cd]").height());
    })
    $("[mj-hv-sh-none],#header2").mouseover(function(){

        $("[mj-cd]").hide();
    })
    $(".mj-cd ul").mouseleave(function(event){
       $("#header_nav2").hover(function () {
           event.preventDefault();
       })
        $("[mj-cd]").hide();

    })
    function selectFour(object, type) {
        var url = "product_8_2.html";
        var string = $(object).html();

        var rec = "";
        var top = "";
        var author = "";
        var exp = "";
        var email = "";
        var branch = "";

        if (type == 1) {
            author = string;
        } else if (type == 2) {
            exp = string;
        } else if (type == 3) {
            email = string;
        } else if (type == 4) {
            branch = string;
        }
        url = url + '?rec=' + rec + '&top=' + top + '&author=' + author + '&exp=' + exp + '&email=' + email + '&branch=' + branch;
        window.location.href = url;
    }
</script>

<!--主体-->
<style>
    .about1{
        width: 100%;
        min-width: 1200px;
        height: auto;

    }
    .about1-index{
        width: 1200px;
        margin: 0 auto;
        height: auto;
    }
    .about1-index img{
        display: block;
        width: 100%;
    }
</style>
<div class="about">
    <div class="about1-index">
        <img src="__PUBLIC__static/index/picture/zf1.jpg" />
        <img src="__PUBLIC__static/index/picture/zf2.jpg" />
        <img src="__PUBLIC__static/index/picture/zf5.jpg" />
        <img src="__PUBLIC__static/index/picture/zf6.jpg" />
        <img src="__PUBLIC__static/index/picture/zf7.jpg" />
        <img src="__PUBLIC__static/index/picture/zf3.jpg" />
        <img src="__PUBLIC__static/index/picture/zf4.jpg" />
        <img src="__PUBLIC__static/index/picture/zf8.jpg" />
        <img src="__PUBLIC__static/index/picture/zf9.jpg" />
        <img src="__PUBLIC__static/index/picture/zf10.jpg" />
        <img src="__PUBLIC__static/index/picture/zf11.jpg" />
        <img src="__PUBLIC__static/index/picture/zf12.jpg" />
        <img src="__PUBLIC__static/index/picture/zf13.jpg" />
        <img src="__PUBLIC__static/index/picture/zf14.jpg" />
        <img src="__PUBLIC__static/index/picture/zf15.jpg" />



    </div>
</div>
<!--尾部-->
<style>

</style>
<div class="clear footer_wrap">
    <div class="box footer" style="width: 1200px;margin: 0 auto">
        <div class="footer_contact">
            <p class="tel">服务热线: 173-5987-2786</p>
        </div>
        <div class="clear footer_service">
            <ul>
                <li>
                    <div class="tit">帮助</div>
                    <div class="links">
                        <a href="news_5_1_210.html">交易流程</a>
                        <a href="news_5_1.html">常见问题</a>
                        <a href="product_8_2.html">服务中心</a>
                    </div>
                </li>
                <li>
                    <div class="tit">保障</div>
                    <div class="links">
                        <a>极速退款</a>
                        <a>一对一服务</a>
                        <a>担保转让</a>
                    </div>
                </li>
                <li>
                    <div class="tit">服务</div>
                    <div class="links">
                        <a href="bank.html" target="_blank">付款方式</a>
                        <a href="eval.html">估值服务</a>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=">客服服务</a>
                    </div>
                </li>
                <li>
                    <div class="tit">我们</div>
                    <div class="links">
                        <a href="about_3_2.html">加入我们</a>
                        <a href="about_4_3.html">联系我们</a>
                        <a href="about_2_1.html">关于我们</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer_ewm">
            <img src="__PUBLIC__static/index/picture/1515422153_51200000.jpg" style="width:110px;height:110px;margin-right: 10px">
            <img src="__PUBLIC__static/index/picture/1515421962_5887500.jpg" style="width:110px;height:110px;margin-left: 10px">
        </div>
        <div style="height: 50px;" class="footer_ewm">
            <span style="margin-right: 10px">官方微信</span>
            <span style="margin-left: 10px">客服微信</span>
        </div>
        <div class="clear footer_copyright">
            CopyRight © 2016厦门特斯西网络科技有限公司 All Rights Reserved 本站关键词：益企发，微信公众号交易平台，公众号买卖，公众号出售，公众号转让，粉丝迁移，购买公众号 <a href="http://www.miitbeian.gov.cn/" target="_blank"></a>
            <p>客服邮箱：3089442373@qq.com 或致电：173-5987-2786&nbsp;&nbsp;&nbsp;&nbsp;常年法律顾问：林炜锦律师</p>

        </div>
    </div>
</div>
<style>
    .footer_ewm span{
        display: inline-block; width:110px;height:50px;color: #a5a5a5;
    }
</style>










<style>
    #footer>p{
        margin-top: 0;
    }
    #footer a{
        color: #666;
    }
</style>



<style>
    .mh-fixed{
        width: 100%;
        height: 135px;
        background: #000;
        position: fixed;
        opacity: 0.9;
        left: -100%;
        bottom: 0;
        box-sizing: border-box;
        border-left:8px solid #ffda44;
        z-index: 8;
    }
    .mh-fixed-in{
        width: 1200px;
        margin: 0 auto;
    }
    .mx-fixed-l{
        width: 300px;
        height: 100%;
        float: left;
    }
    .mh-fixed-logo{
        display: block;
        width: 170px;

        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 2px;
    }
    .mh-fixed-tip{
        font-size: 28px;
        color: #fff100;
        text-align: center;
        font-weight: bold;
    }
    .mh-fixed-se{
        width: 77px;
        height: 135px;
        float: left;
        background: url("images/mh-fix-se.png") center center no-repeat;
    }
    .mh-fixed-input-out{
        width: 260px;
        height: 100%;
        float: left;
    }
    .mh-fixed-input-select{
        width: 80%;
        height: 36px;
        border: 2px #dedede solid;

        font-size: 18px;
        color: #666;
        text-align: center;
        line-height: 36px;
        margin: 0 auto;
        margin-left: 10%;
        margin-top: 26px;
        text-indent: 5px;
        background: url("images/xia.png") 90% center no-repeat;
        background-size: 8%;
        background-color: #fff;
        cursor: pointer;

    }
    .mh-fixed-input-total{
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        height: 36px;
    }
    .mh-fixed-input-total-input{
        width: 60%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #dedede;
        font-size: 15px;
        color: #999;
        float: left;
    }
    .mh-fixed-input-total-sub{
        width: 35%;
        height: 100%;
        border: 0;
        float: right;
        font-size: 18px;
        background:#fff100 ;
    }
    .mh-fixed-bg{
        width: 1.5px;
        height: 95px;
        margin: 20px 0 0 0;
        float: left;
        background: #fff;
    }
    .mh-fixed-img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        float: left;
        margin-top: 10px;
        margin-left: 28px;
        overflow: hidden;
    }
    .mh-fixed-img img{
        width: 100%;
        height: 100%;
    }
    .mh-fixed-link{
        width: 170px;
        height: 100px;
        box-sizing: border-box;
        float: left;
        margin-left: 28px;
        padding-top: 20px;
    }
    .mh-fixed-link p,.mh-fixed-wx p{
        height: 35px;
        line-height: 35px;
        color: #fff;
        font-size: 18px;
    }
    .mh-fixed-wx p{
        text-align: center;
        margin-top: 3px;
    }
    .mh-fixed-link a{
        display: block;
        background: #f00;
        width: 65%;
        height: 35px;
        font-size: 18px;
        text-align: center;
        line-height: 35px;
        color: #fff;
    }
    .mh-fixed-wx{
        width: 160px;
        height: 100%;
        float: left;
        margin-left: 28px;
        padding-top: 10px;
        box-sizing: border-box;
    }
    .mh-fixed-wx img{
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
    .mh-fixed-close{
        margin-left: 5px;
        margin-right: 20px;
        float: right;
        margin-top: 50px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .mh-fixed-close img{
        width: 40px;
        height: 40px;
    }
</style>

<style>
    .mh-hd{
        width: 143px;
        height: 135px;
        position: fixed;
        opacity: 0.9;
        left: -143px;
        bottom: 0;
        box-sizing: border-box;
        border-left:8px solid #ffda44;
        z-index: 8;
        background: url(images/mh-fix-se.png) center center no-repeat;
        background-color: #000;
        cursor: pointer;
    }
</style>
<div class="mh-hd"><img src="" /> </div>

<style>

    $("#online div s").text("在线客服");
</style>
<script>

    //    $(window).bind("scroll", function(){
    //        var st = $(document).scrollTop();
    //
    //        if(st>=100){
    //            console.log(st);
    //            $(".mh-fixed").animate({left:"-100%"},1000,showmhfix);
    //        }else{
    //            $(".mh-hd").hide();
    //            $(".mh-hd").animate({left:"-143px"},100);
    //            $(".mh-fixed").animate({left:"0"},1000);
    //        }
    //    });



    $("#mh-foot-form").submit(function(){
        var _val=$("input[name=zhanghao]").val();
        if(_val==""){
            alert("请输入微信号！");
            return false;
        }

    })


    $(".mh-fixed").animate({left:"0"},1000);
    $("[mh-close]").click(function(){
        $(".mh-fixed").animate({left:"-100%"},1000,showmhfix);
    })
    function showmhfix() {
        $(".mh-hd").show();
        $(".mh-hd").animate({left:"0"},300);
    }
    $(".mh-hd").click(function(){
        $(".mh-hd").hide();
        $(".mh-hd").animate({left:"-143px"},100);
        $(".mh-fixed").animate({left:"0"},1000);

    })
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1267301476'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1267301476%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

<!--微信分享链接-->
<script src="js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxe4ce83bf831bebcf',
        timestamp: 1543658767,
        nonceStr: 'njr1vgp5AE2Jpzs7',
        signature: '5a4a6a5db69d370a383e8111cb188d85fc389d08',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.checkJsApi({
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage',], // 需要检测的JS接口列表，所有JS接口列表见附录2,
            success: function (res) {
                // 以键值对的形式返回，可用的api值true，不可用为false
                // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
            }
        });

        wx.onMenuShareAppMessage({
            title: '益企发-公众号交易平台|公众号买卖|公众号出售|公众号转让|购买公众号|粉丝迁移', // 分享标题
            desc: '号可易公众号交易平台-出售公众号、购买公众号一对一定制服务，主营：微信公众号交易平台，公众号买卖，公众号出售，公众号转让，粉丝迁移，购买公众号。资深律师为您的交易保驾护航，让您的公众号交易便捷、贴心、更放心！', // 分享描述
            link: 'http://www.shuiren.net/about_19_1289.htm', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'http://www.shuiren.net/file/logo/20171023/1508741745_56237500.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareTimeline({
            title: '号可易公众号交易平台-出售公众号、购买公众号一对一定制服务，主营：微信公众号交易平台，公众号买卖，公众号出售，公众号转让，粉丝迁移，购买公众号。资深律师为您的交易保驾护航，让您的公众号交易便捷、贴心、更放心！', // 分享标题
            link: 'http://www.shuiren.net/about_19_1289.htm', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'http://www.shuiren.net/file/logo/20171023/1508741745_56237500.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
</body>
</html>
          