<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付成功</title>
    <style>
        *{
            list-style: none;
            margin: 0 auto;
            text-decoration: none;
        }
        aside{
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
        .toplogo{
            margin-top: 15px;
        }
        ul li{
            padding: 8px 5px;
            text-align: center;
            display: flex;
            margin-right: 25px;
            justify-content: center;
        }
    </style>
</head>
<!--__PUBLIC__static/index/images/zfbicon.png-->
<body>
<aside>
    <ul>
        <li class="toplogo"><img src="__PUBLIC__static/index/images/zfbicon.png" width="80" height="80"></li>
        <li style="color: #1FA5ED;font-size: 25px;">支付成功</li>
        <li style="font-size: 15px;">{$goodname}</li>
        <li style="font-size:20px;">{$payprice}元</li>
        <li style="width: 200px;">
            <aside style="width: 250px;">
                <a href="{$baseurl}" style="width:300px;color:white;background-color: #108DEA;text-align: center;padding-top: 10px;padding-bottom: 10px;">完成</a>
            </aside>
        </li>
    </ul>
</aside>
</body>
</html>