<!--这里写引入的js文件-->
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__static/h-admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__static/h-admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__static/h-admin/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__static/h-admin/static/h-ui.admin/js/H-ui.admin.page.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__static/h-admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__static/h-admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__static/h-admin/lib/laypage/1.2/laypage.js"></script>