#header_menu {
    display: block
}

#home_focus {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 0 0px
}

#focusImgs {
    position: relative;
    display: block;
    width: 100%;
    height: 445px;
    box-shadow: 2px 2px 8px #eaeaea;
    overflow: hidden
}

#focusImgs > ul {
    position: absolute;
    height: 445px;
    white-space: nowrap
}

#focusImgs > ul > li {
    display: inline-block;
    width: 100%;
    height: 445px
}

#focusImgs > ul > li > img {
    width: 100%;
    height: 100%;
    display: none
}

#focusImgs div {
    position: relative;
    height: 12px;
    top: 415px;
    margin: 0 auto;
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 2;
    -webkit-backface-visibility: hidden;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUAgMAAADq2xUQAAAAA3NCSVQICAjb4U/gAAAADFBMVEX////////////////1pQ5zAAAABHRSTlMAmd3uMnWRyAAAAAlwSFlzAAAK8AAACvABQqw0mAAAAB90RVh0U29mdHdhcmUATWFjcm9tZWRpYSBGaXJld29ya3MgOLVo0ngAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDQvMDQvMTaViMBQAAAAMklEQVQImWNg/OfAAATc/x+AKP3/P0BU/f+/IGr///8g6j8Ktf//PyQlUA1Q7VDDyAQAfTAbCCuFQwMAAAAASUVORK5CYII=)
}

#focusImgs s {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #ff9913
}

#focusImgs u {
    position: absolute;
    left: 20px;
    top: 208.5px;
    width: 17px;
    height: 28px;
    cursor: pointer;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAcBAMAAAB13UkXAAAAA3NCSVQICAjb4U/gAAAAElBMVEX///////////////////////+65XQCAAAABnRSTlMARFVm3f9qyOXFAAAACXBIWXMAAAsSAAALEgHS3X78AAAAH3RFWHRTb2Z0d2FyZQBNYWNyb21lZGlhIEZpcmV3b3JrcyA4tWjSeAAAAEpJREFUGJVjYAAD1VAHCIMpNDQAJgRlAYVCDWBCwZhCQXAhBVxCpjAhZkwhBqCQADoLIYvQgSSIMBlhG25BA7hgMDbBAHSfg0IDANrKHuEMYHrfAAAAAElFTkSuQmCC)
}

#focusImgs u:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAcBAMAAAB13UkXAAAAA3NCSVQICAjb4U/gAAAAElBMVEX/////mRP/mRP/mRP/mRP/mROtIjzrAAAABnRSTlMARFVm3f9qyOXFAAAACXBIWXMAAArwAAAK8AFCrDSYAAAAH3RFWHRTb2Z0d2FyZQBNYWNyb21lZGlhIEZpcmV3b3JrcyA4tWjSeAAAAEpJREFUGJVjYAAD1VAHCIMpNDQAJgRlAYVCDWBCwZhCQXAhBVxCpjAhZkwhBqCQADoLIYvQgSSIMBlhG25BA7hgMDbBAHSfg0IDANrKHuEMYHrfAAAAAElFTkSuQmCC)
}

#focusImgs i {
    position: absolute;
    right: 20px;
    top: 208.5px;
    width: 17px;
    height: 28px;
    cursor: pointer;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAcBAMAAAB13UkXAAAAA3NCSVQICAjb4U/gAAAAElBMVEX///////////////////////+65XQCAAAABnRSTlMARFVm3f9qyOXFAAAACXBIWXMAAAsSAAALEgHS3X78AAAAH3RFWHRTb2Z0d2FyZQBNYWNyb21lZGlhIEZpcmV3b3JrcyA4tWjSeAAAAERJREFUGJVjcA1VYICA0NAgOAsmaAoXZMYmyIQQVCUsaAAXDMYQFA0NDUBjIWThOlCEgtBswyIEdykzphCSLxE+h4cGAPAGHuG4xqZEAAAAAElFTkSuQmCC)
}

#focusImgs i:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAcBAMAAAB13UkXAAAAA3NCSVQICAjb4U/gAAAAElBMVEX/////mRP/mRP/mRP/mRP/mROtIjzrAAAABnRSTlMARFVm3f9qyOXFAAAACXBIWXMAAArwAAAK8AFCrDSYAAAAH3RFWHRTb2Z0d2FyZQBNYWNyb21lZGlhIEZpcmV3b3JrcyA4tWjSeAAAAERJREFUGJVjcA1VYICA0NAgOAsmaAoXZMYmyIQQVCUsaAAXDMYQFA0NDUBjIWThOlCEgtBswyIEdykzphCSLxE+h4cGAPAGHuG4xqZEAAAAAElFTkSuQmCC)
}

.media_lists > ul {
    position: relative;
    width: 1200px;
    margin: 0 auto
}

.media_lists > ul > li {
    position: relative;
    display: inline-block;
    width: 282px;
    height: 344px;
    background-color: #fff;
    margin: 12px 16px 0 0;
    box-shadow: 2px 2px 8px #eaeaea;
    border-top: 3px #1F9EBF solid;
    border-radius: 2px;
}
.media_lists > ul > li:nth-child(4n) {
    margin-right: 0
}
#jiaoyi{
    width: 1200px;
    height: 440px;
    margin: 20px auto;
    display: flex;
}
.jiaoyi_left{
     width: 285px;
 }
.jiaoyi_right{
    width: 76%;
    background-color: white;
}
.jiaoyi_right_top{
    height: 73px;
    display: flex;
    /*border-bottom: 1px #F0F0F2 solid;*/
}
.jy_right_topp_l{
    width: 80%;
    height: 73px;
}
.jy_right_topp_l li{
    display: inline-block;
    padding-right: 10px;
    color: #838383;
    border-right: 1px solid #787878;
    list-style: none;
    padding-left: 20px;
    margin: 26px auto;
    font-size: 16px;
}
.jy_right_topp_l li a{
    color: #838383;
}
.jy_right_topp_l li a:hover{
    background-color: #79C4D8;
    color: white;
    padding: 1px 2px;
    border-radius: 3px;
    border: 1px #79C4D8 solid;

}
.jy_right_topp_l li:last-child{
    border: none;
}
.jy_right_topp_r{
    width: 20%;
    height: 73px;
}
.jy_r_t_rspan{
    width: 250px;
    height: 50px;
    padding:5px 30px;
    border: 2px #35A7C4 solid;
    border-radius: 12px;
    color: #35A7C4;
    line-height: 64px;
    padding-top: 10px;
    margin-left: 50px;
    cursor: pointer;
}
.jiaoyi_right_md{
    background-color: #F0F0F2;
    margin-top: 1px;
    height: 360px;
    display: flex;
}
.jiaoyi_right_md li{
    background-color: white;
    float: left;
    margin: 1px;
    height: 100%;
    width: 302px;
}
.news{
    display: flex;
    height: 450px;
    width: 1200px;
    margin: 5px auto;
    background-color: white;
}
.news_left{
    width: 70%;
}
.news_right{
    width: 30%;
    border-left: 1px #F0F0F2 solid;
}
.news_right_title{
    border-bottom: 1px #F0F0F2 solid;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    font-size: 17px;
    color: #50504B;
    font-weight: bold;

}
.news_right_prolist li{
    height: 50px;
    border-bottom: 2px #F0F0F2 dashed;
    padding: 5px 20px;
    line-height: 50px;
    font-size: 16px;
}
.news_right_prolist li a{
    color: #50504B;
}
.news_left_top{
    height: 20%;
    display: flex;
}
.n_l_t_span1,.n_l_t_span2{
    width: 20%;display: flex;flex-direction: column;justify-content: center;align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #6B6A65;
    cursor: pointer;
    border: 1px #F0F0F2 solid;
    border-right:none;


}
.select{
    color: #33A5C4;
    border-bottom: none;
    border-left: 1px #F0F0F2 solid;
    border-right:1px #F0F0F2 solid;

}
.news_left_md{
    height: 40%;
}
.news_left_md li{
    width: 49%;
    height: 160px;
    float: left;
    display: flex;
    padding: 20px;

}
.md_li_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-bottom: 2px #F0F0F2 dashed;
    padding-bottom: 15px;
}
.md_li img{
    border-bottom: 2px #F0F0F2 dashed;
    padding-bottom: 15px;
}
.md_li_div_title,.md_li_div_desc,.md_li_div_time{
    padding: 8px 15px;
}
.md_li_div_title{
    font-size: 16px;
    color: #535962;
    font-weight: bold;
}
.md_li_div_desc{
    font-size: 14px;
    color: #666776;
}
.md_li_div_time{
    font-size: 10px;
    color: #A2ADB9;
}
.news_left_foot{
    height: 40%;
}
.news_left_foot li{
    float: left;
    width: 47%;
    height: 50px;
    border-bottom: 2px #F0F0F2 dashed;
    line-height: 40px;
    padding: 5px 15px;
    margin-right: 20px;
    margin-left: 5px;
}
/*#wechat>ul>li:first-child>a.link::after{content:"";display:block;height:25px;background-repeat:no-repeat;background-position:center;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF9JREFUeNpi+P//fw0QM6BhFDEQ8Q2IS9AUoYiBiJ9A/AuII5EUoYiBBL78h4APQOwDVYQihiwAAifRFIHFkAU+ArEvmiKwGLL9UVjcFAVz03cgLkXzHYoYAzHhBBBgACAKFyE1W+LoAAAAAElFTkSuQmCC)}*/

#others > ul > li:first-child {
    background-image: url(../images/home_list_22.png);
    color: #fff
}

#others > ul > li:first-child > p {
    padding: 28px 0 0 24px;
    font-size: 24px;
    line-height: 24px
}

#others > ul > li:first-child > i {
    display: block;
    padding-left: 24px;
    font-size: 14px;
    height: 22px;
    line-height: 22px
}

#others > ul > li:first-child > ul {
    padding: 20px 0 0 32px
}

#others > ul > li:first-child > ul > li {
    font-size: 18px;
    height: 36px
}

#others > ul > li:first-child > ul > li > a {
    color: #fff
}

#others > ul > li:first-child > ul > li > a:hover {
    color: #fff;
    margin-top: -3px
}

#others > ul > li:first-child > u {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42px;
    background-color: #f72828;
    text-align: center
}

#others > ul > li:first-child > u > a.link {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 11px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF9JREFUeNpi+P//fw0QM6BhFDEQ8Q2IS9AUoYiBiJ9A/AuII5EUoYiBBL78h4APQOwDVYQihiwAAifRFIHFkAU+ArEvmiKwGLL9UVjcFAVz03cgLkXzHYoYAzHhBBBgACAKFyE1W+LoAAAAAElFTkSuQmCC)
}

#others > ul > li:first-child > u > a:hover {
    color: #fff;
    margin-top: 8px
}

#made_fans > ul > li:first-child {
    height: 376px;
    background-image: url(../images/home_list_33.png);
    color: #fff
}

#made_fans > ul > li:first-child > p {
    padding-top: 28px;
    text-align: center;
    font-size: 24px;
    line-height: 24px
}

#made_fans > ul > li:first-child > i {
    display: block;
    text-align: center;
    font-size: 14px;
    height: 22px;
    line-height: 22px
}

#made_fans > ul > li:first-child > ul {
    padding-top: 28px
}

#made_fans > ul > li:first-child > ul > li {
    height: 36px;
    font-size: 16px;
    padding-left: 24px
}

#made_fans > ul > li:first-child > ul > li > a:hover {
    color: #fff;
    margin-top: -3px
}

#made_fans > ul > li:first-child > u {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42px;
    background-color: #ff9501;
    text-align: center
}

#made_fans > ul > li:first-child > u > a.link {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 11px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF9JREFUeNpi+P//fw0QM6BhFDEQ8Q2IS9AUoYiBiJ9A/AuII5EUoYiBBL78h4APQOwDVYQihiwAAifRFIHFkAU+ArEvmiKwGLL9UVjcFAVz03cgLkXzHYoYAzHhBBBgACAKFyE1W+LoAAAAAElFTkSuQmCC)
}

#made_fans > ul > li:first-child > u > a:hover {
    color: #fff;
    margin-top: 8px
}

#made_fans > ul > li:last-child {
    width: 896px;
    height: 376px;
    margin-right: 0;
    background-color: transparent;
    box-shadow: none
}

#made_fans > ul > li:last-child > a {
    width: 288px;
    height: 182px;
    font-size: 0;
    line-height: 0;
    margin: 0 16px 12px 0;
    background-color: #fff;
    box-shadow: 2px 2px 8px #eaeaea;
    padding: 15px;
    -webkit-transition: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -ms-transition: all .4s linear 0s
}

#made_fans > ul > li:last-child > a:hover {
    margin-top: -4px
}

#made_fans > ul > li:last-child > a:nth-child(3n) {
    margin-right: 0
}

#made_fans > ul > li:last-child > a > img {
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer
}

#finance {
    width: 1200px;
    height: 264px;
    margin: 40px auto 0 auto;
    background-image: url(../images/finance.png);
    color: #fff
}

#finance > s {
    font-size: 48px;
    margin: 62px 0 0 108px
}

#finance > em {
    display: block;
    margin: 38px 0 0 86px
}

#finance > em > a {
    width: 118px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px
}

#finance > em > a:hover {
    color: #fff;
    margin-top: -3px
}

em.link {
    display: block;
    padding: 15px;
    -webkit-transition: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -ms-transition: all .4s linear 0s;
    outline: 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden
}

em.link:hover {
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px)
}

em.link > s {
    display: block;
    width: 200px;
    height: 150px;
    margin: 0 auto
}

em.link > s > img {
    width: 100%;
    height: 100%;
    display: none
}

em.link > p {
    padding-top: 20px;
    height: 68px;
    line-height: 24px;
    font-size: 16px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

em.link > p > span {
    color: #57d420;
    border: 1px solid #57d420;
    padding: 0 6px;
    font-size: 12px;
    height: 18px;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 3px 6px 0 0
}

em.link > p > a {
    display: inline;
    color: #363636
}

em.link > ul {
    padding-top: 10px
}

em.link > ul > li {
    display: inline-block;
    width: 50%;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #999
}

em.link > ul > li > a {
    color: #f30b00
}

em.link > i {
    display: block;
    padding-top: 20px;
    height: 44px
}

em.link > i > span {
    vertical-align: bottom;
    color: #999;
    height: 20px;
    line-height: 20px
}

em.link > i > a {
    height: 18px;
    line-height: 18px;
    font-size: 24px;
    color: #ff8a00
}

#news {
    position: relative;
    width: 1200px;
    margin: 28px auto 0 auto;
    background-color: #fff;
    box-shadow: 2px 2px 8px #eaeaea
}

#news > ul {
    display: inline-block;
    width: 210px;
    background-color: #FFF8D7;
    height: 540px
}

#news > ul > li {
    position: relative;
    height: 47px;
    line-height: 45px;
    color: #FFDC35;
    font-size: 16px;
    border-bottom: 1px solid #FFFFB9;
    padding-left: 40px;
    cursor: pointer
}

#news > ul > li:before {
    content: "";
    position: absolute;
    left: 26px;
    top: 18px;
    display: inline-block;
    width: 5px;
    height: 9px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJAQMAAADAY3TdAAAAA3NCSVQICAjb4U/gAAAABlBMVEX///8No/kcUeW/AAAAAnRSTlMA/1uRIrUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAfdEVYdFNvZnR3YXJlAE1hY3JvbWVkaWEgRmlyZXdvcmtzIDi1aNJ4AAAAF0lEQVQImWNoYHBgUGAQYOAAYgUguwEAEToB6cNVIhAAAAAASUVORK5CYII=)
}

#news > ul > li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FFFFB9;
    left: 0;
    bottom: 0
}

#news > ul > li.u, #news > ul > li:hover {
    background-color: #EAC100;
    color: #fff
}

#news > ul > li.u:before, #news > ul > li:hover:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJAQMAAADAY3TdAAAAA3NCSVQICAjb4U/gAAAABlBMVEX///////9VfPVsAAAAAnRSTlMA/1uRIrUAAAAJcEhZcwAACvAAAArwAUKsNJgAAAAfdEVYdFNvZnR3YXJlAE1hY3JvbWVkaWEgRmlyZXdvcmtzIDi1aNJ4AAAAF0lEQVQImWNoYHBgUGAQYOAAYgUguwEAEToB6cNVIhAAAAAASUVORK5CYII=)
}

#news > ul > li.u:after, #news > ul > li:hover:after {
    display: none
}

#news > div {
    display: inline-block;
    width: 985px
}

#news > div > ul {
    display: none
}

#news > div > ul.u {
    display: block
}

#news > div > ul > li {
    height: 165px;
    border-bottom: 1px solid #dfe7ea;
    padding: 24px 40px;
    cursor: pointer
}

#news > div > ul > li:hover {
    background-color: #fafafa
}

#news > div > ul > li > s {
    display: inline-block;
    width: 159px;
    height: 116px;
    float: left
}

#news > div > ul > li > s > img {
    width: 100%;
    height: 100%;
    display: none
}

#news > div > ul > li > div {
    display: inline-block;
    width: 745px;
    padding-left: 30px
}

#news > div > ul > li > div > p {
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #EAC100;
    margin-top: 4px
}

#news > div > ul > li > div > div {
    margin-bottom: 12px;
    padding-top: 4px;
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

#news > div > ul > li > div > u, #news > div > ul > li > div > i {
    position: relative;
    color: #9babba;
    height: 18px;
    line-height: 18px;
    margin-right: 20px;
    padding-left: 24px;
    font-size: 13px
}

#news > div > ul > li > div > u:before, #news > div > ul > li > div > i:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    display: inline-block;
    width: 19px;
    height: 14px
}

#news > div > ul > li > div > u:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAOBAMAAAA/Njq6AAAAA3NCSVQICAjb4U/gAAAALVBMVEX///+bq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7psze4bAAAAD3RSTlMAESIzRFV3iJmqu8zd7v+wyu2mAAAACXBIWXMAAArwAAAK8AFCrDSYAAAAH3RFWHRTb2Z0d2FyZQBNYWNyb21lZGlhIEZpcmV3b3JrcyA4tWjSeAAAAF1JREFUCJljYGBgENuzTYABDMTPvXt3HMxmBrLevTsMYvq9e+nk+e6dAwMD0713BQwMde8uMTBwvXvD0NPA8+4VA0Pfu5es755yvnvXgMxEUoCkDckwZCuQLIY7BwDMZj51PqIsNAAAAABJRU5ErkJggg==)
}

#news > div > ul > li > div > i:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAOBAMAAAA/Njq6AAAAA3NCSVQICAjb4U/gAAAAJ1BMVEX///+bq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7qbq7pYvTkbAAAADXRSTlMAESIzZneImaq7zO7/qhNFKAAAAAlwSFlzAAAK8AAACvABQqw0mAAAAB90RVh0U29mdHdhcmUATWFjcm9tZWRpYSBGaXJld29ya3MgOLVo0ngAAABtSURBVAiZY2BgYGBec8qAAQKyUtyWQVhcBQwMHBPAzAwG1gCGNhCLeQEDRwMDlwJIPoGBvYCBHaSCxwHEZDkAYbJuhjCBChi8G8AKgNoYGBPB2oCGAcFUsLmcjQwMEhOgFpe4L4W6gWnOSZBKABqiFFAhbkBSAAAAAElFTkSuQmCC)
}

#news > div > ul > em {
    float: right;
    margin: 10px 24px 0 0;
    font-size: 14px;
    color: #ff9501;
    height: 24px;
    cursor: pointer;
    line-height: 24px;
    padding-right: 14px;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAA3NCSVQICAjb4U/gAAAAFVBMVEX/////lQH/lQH/lQH/lQH/lQH/lQGCsnx+AAAAB3RSTlMARFV3zO7/svwkdwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB90RVh0U29mdHdhcmUATWFjcm9tZWRpYSBGaXJld29ya3MgOLVo0ngAAAA1SURBVAiZYzBgYGZgYAhmYDVgYEhTYEtiYAgLZE0VYAhLYU1zYAgLYk1VgIonM7AB1YDVAwDCUgccROjKrAAAAABJRU5ErkJggg==)
}

#news > div > ul > em:hover {
    margin-top: 9px
}



